extends layout

block content
  p 
    a(href=project.url + '/update') Edit

  h1 Project: #{project.name_text}

  p #[strong Machine name]: #{project.name_machine}
  p #[strong System ID]: #{project.id}

